*.efi
*.efi.stub
*.8
*.a
*.cache
*.gch
*.la
*.lo
*.log
*.o
*.so
*.plist
*.stamp
*.swp
*.trs
*~
.config.args
.deps/
.dirstamp
*.tar.xz
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
stamp-*
build-aux